@font-face {
  font-family: "Pretendard-Thin";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff")
    format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-ExtraLight";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff")
    format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Light";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff")
    format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-SemiBold";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff")
    format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Bold";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-ExtraBold";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff")
    format("woff");
  font-weight: 800;
  font-style: normal;
}

.App {
  text-align: center;
}

body {
  position: relative;
  background: #111015;
  color: #fff;
  text-align: center;
  /* overflow-x: hidden; */
  overflow-y: scroll;
}

input {
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  font-family: Pretendard-Light;
  font-size: 18px;
  color: #fff;
  outline: none;
}
input::placeholder {
  font-family: Pretendard-Light;
  font-size: 18px;
  color: #777;
}
textarea::placeholder {
  font-family: Pretendard-Light;
  font-size: 16px;
  color: #777;
}
input[type="time"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  width: 120px;
  background: transparent;
  color: transparent;
  cursor: pointer;
}
.title::placeholder {
  font-family: Pretendard-Bold;
  font-size: 28px;
  color: #777;
}
/* type="number" 화살표 제거 */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox  */
input[type="number"] {
  -moz-appearance: textfield;
}
select {
  outline: none;
}

/* 반응형 작업 */
.bottom_info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.hamburger {
  display: none;
}
.nav_menu {
  display: flex;
}
.nav_menu_logInOut {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
}

.intro_font {
  font-size: 20px;
}

.joinUs_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .bottom_info {
    display: block;
  }
  .signUpError {
    display: none;
  }

  .intro_font {
    font-size: 16px;
  }
  .intro_img {
    display: none;
  }

  .joinUs_text {
    display: block;
  }
  .joinUs_img {
    display: none;
  }
}

/* @media screen and (max-width: 1040px) {
  .joinUs_text {
    display: block;
  }
} */

@media screen and (max-width: 1200px) {
  .hamburger {
    display: block;
  }
  .nav_menu {
    display: none;
  }
  .nav_menu_logInOut {
    display: none;
  }
}

.nav_text {
  width: 170px;
  padding: 20px 0;
  text-align: center;
  font-family: Pretendard-Regular;
  font-size: 18px;
  color: #fff;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}
.nav_text:hover {
  text-shadow: 0 0 0.1em, 0 0 0.3em;
  border-bottom: 2px solid #2cc295;
}
.hamburger_text {
  box-sizing: border-box;
  color: #fff;
  height: 40px;
  margin-bottom: 0px;
  font-family: Pretendard-SemiBold;
  font-size: 25px;
  padding: 0 0 10px;
  cursor: pointer;
}
.hamburger_text:hover {
  text-shadow: 0 0 0.1em, 0 0 0.3em;
}

.nav_list {
  width: 170px;
  height: 100px;
  padding: 5px 20px;
  margin-top: 20px;
  text-align: left;
  font-family: Pretendard-Light;
  font-size: 15px;
  border-right: 1px solid #777;
  text-decoration-line: none;
}
.nav_tabs {
  color: #fff;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}
.nav_tabs:hover {
  text-shadow: 0 0 0.1em, 0 0 0.1em;
}
.hamburger_tabs {
  color: #fff;
  margin-bottom: 10px;
  overflow: hidden;
  transition: all 0.3s ease;
}
.hamburger_tabs:hover {
  text-shadow: 0 0 0.1em, 0 0 0.1em;
}

.side_tabs {
  width: 180px;
  color: #fff;
  padding: 8px 0;
}
.side_tabs:hover {
  text-shadow: 0 0 0.1em, 0 0 0.1em;
  cursor: pointer;
}

.bottom_tabs {
  font-family: Pretendard-Light;
  font-size: 16px;
  color: #fff;
  margin: 0 10px;
  border: none;
  background-color: transparent;
}
.bottom_tabs:hover {
  text-shadow: 0 0 0.1em, 0 0 0.1em;
  cursor: pointer;
}

.custom-md-editor .w-md-editor-toolbar {
  background-color: transparent !important;
  border-radius: 20px 20px 0 0 !important;
}

.custom-md-editor .w-md-editor-toolbar ul {
  background-color: transparent !important;
}

.custom-md-editor.w-md-editor {
  background-color: transparent !important;
  border-radius: 20px 20px 20px 20px !important;
}

.custom-md-editor .w-md-editor-bar {
  display: none !important;
}

.container h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 16px 0 8px;
}
.container p {
  margin: 8px 0;
}
.container ol,
ul {
  margin: 8px 0;
  padding-left: 30px;
}
.container li {
  margin: 8px 0;
}
.container img {
  max-width: 80%;
}
